stages:
  - generate-tp-instructions
  - test
  - qualite

pages:
  image: golang:1.9
  stage: generate-tp-instructions
  script:
    - go env
    - go get github.com/googlecodelabs/tools/claat
    - cd TP_instructions && claat export tp*.md && cd ..
    - mkdir .public
    - cp -r TP_instructions/* .public
    - mv .public public
  artifacts:
    paths:
      - public

test:
  image: python:3.9
  stage: test
  script:
    - pip install -r requirements.txt
    - pip install -r requirements_test.txt
    - python -m pytest tests/test_unit
    - behave tests/test_functional/features

qualite:
  image: python:3.9
  stage: qualite
  script:
    - pip install -r requirements.txt && pip install -r requirements_test.txt
    - make tests-unitaires  ## pour calculer le code coverage
    - ./tests/tests_pyramid.sh  ## pour mesurer la pyramide de tests
