# Data manipulation
pandas==1.2.4
pyarrow==4.0.1

# Model manipulation
scikit-learn==1.1.2
joblib==1.0.1

# Data base
sqlalchemy==1.3.24
psycopg2-binary==2.8.6

# App
streamlit==1.8.1

# Airflow
apache-airflow==2.1.0

# Autres
werkzeug==1.0.1
protobuf==3.20.3