# Data manipulation
pandas==1.5.2
pyarrow==10.0.1

# Model manipulation
scikit-learn==1.1.2
joblib==1.2.0

# Data base
sqlalchemy==1.4.46
psycopg2-binary==2.9.5

# App
streamlit==1.17.0

# Airflow
apache-airflow==2.5.0

# Mlflow
mlflow==1.30.0

werkzeug==2.2.2
protobuf==3.20.3